body {
    color: red;
    border: 2px solid red;
}
h1{
    color: blue;
    border: inherit;
}
p{
    border: inherit;
}
span{
    color: gray;
    border: inherit;
}
b{
    color: yellow;
    border: inherit;
}