/* === FARBEN ==== */

/* colors old 
blue:       #1F4E8C
dGrau:      #3D3F45
lGrau       #E5E5E5
red:        #A62C21
*/

/* Variables */
:root{
    --c-white: #FFF;
    --c-lGray: #E5E5E5;
    --c-dGray: #3D3F45;
    --c-blue: #1F4E8C;
    --c-sRed: #F00;
    --c-red: #A62C21;
}

html{
font-size: 16px;
}

body{
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
}

* { 
    box-sizing: border-box;
}

/* === NAVIGATIONSLEISTE === */

.header-nav{
    width: 100%;
    height: 50px;
    background-color: var(--c-dGray);
    position: relative;
    font-weight: bold;
    font-size: 1.1rem;
}

.header-nav > a > img{
    height: 30px;
    width: auto;
    position: absolute;
    left: 2rem;
    top: .55rem;
}

.header-nav > ul > li > a{
    display: inline-block;
    margin-top: .8rem;
}

.header-nav > ul{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 2rem;
    height: 100%;
}

.header-nav > ul > li{
    display: inline-block;
    height: 100%;
    padding: 0 .4rem 0 .4rem;
    
}

.header-nav > ul > li > a:link{
    color: var(--c-white);
    text-decoration: none;
}

.header-nav > ul > li > a:hover{
    color: var(--c-lGray);
    text-decoration: none;
}

.header-nav > ul > li > a:active{
    color: var(--c-lGray);
    text-decoration: none;
}

.header-nav > ul > li > a:visited{
    color: var(--c-white);
    text-decoration: none;
}

.active{
    background-color: var(--c-sRed);
}

/* === HEADER-BANNER === */

.header-banner{
    background: url(../img/hintergrund.jpg) no-repeat;
    width: 100%;
    height: 0;                 /*   height hilft nicht, bei auto geht es auf 0, da height
                                    mit 0 nichts anfangen kann und da bei einem festen Wert 
                                    in px das Bild in der Höhe nicht mitskaliert, setze ich 
                                    height auf 0 und regel das Über das padding-top Element. 
                                    padding-top bezieht sich auf die Höhe. Da sie aber in 
                                    Prozent angegeben wird bezieht sie sich auf die Breite. 
                                    Bzw. ist von dießer abhängig. Somit ist die Höhe wieder skalierbar*/

                                    /* Da das Bild eine Auflößung von 1920px*400px aufweisst, 
                                    rechne wir 400/1920*100 = 20.8 % */
    padding-top: 20.83%;
    background-size: contain;   /*  Hintergrundbild passt sich an die Größe des Elemnts an in dem es sich befindet. */
}

.header-banner-klein{
    background: url(../img/hintergrund-klein.jpg) no-repeat;
    width: 100%;
    height: 0;                 /*   height hilft nicht, bei auto geht es auf 0, da height
                                    mit 0 nichts anfangen kann und da bei einem festen Wert 
                                    in px das Bild in der Höhe nicht mitskaliert, setze ich 
                                    height auf 0 und regel das Über das padding-top Element. 
                                    padding-top bezieht sich auf die Höhe. Da sie aber in 
                                    Prozent angegeben wird bezieht sie sich auf die Breite. 
                                    Bzw. ist von dießer abhängig. Somit ist die Höhe wieder skalierbar*/

                                    /* Da das Bild eine Auflößung von 1920px*400px aufweisst, 
                                    rechne wir 400/1920*100 = 20.8 % */
    padding-top: 15.625%;
    background-size: contain;   /*  Hintergrundbild passt sich an die Größe des Elemnts an in dem es sich befindet. */
}

/* === Grid-System (SICHTABRKEIT) === */

/* (.border) steht für die Klasse boreder und nach dem , 
das (.border *) steht für alle eingeschlossenen Elemente 
in dem Element mit der Klasse(.border)

    <div class="container border">
        /////////
        /////////
        /////////
        /////////
    </div> */

.border, .border *{

}



/* === Grid-System === */

.container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}

[class*='col-']{
    float: left;
    min-height: 1px;
    padding: .8rem;
}

.col-1{width: 16.666%;  }
.col-2{width: 33.333%;  }
.col-3{width: 50%;      }
.col-6{width: 100%;     }