/* 
Transformation ungsteuerter Effekt der Veränderung. 
Tansisition: Trigger und Geschwindigkeitgesteuerter Veranderungseffekt
Animation, gesteuerter Veränderungseffekt jedoch ohne trigger wie hover, etc. 
*/



/* div{
    width: 200px;
    height: 200px;
    background-color: red;
} */

/* @keyframes farbwechsel{

    from{background-color: red;}
    to{background-color: blue;}
    0%{background-color: aqua;}
    17%{background-color: chartreuse;}
    34%{background-color: yellow;}
    51%{background-color: lightblue;}
    68%{background-color: indigo;}
    85%{background-color: brown;}
    100%{background-color: burlywood;}
} */

/* #test{
    animation: farbwechsel;
    animation-duration: 45s;
} */

@keyframes komplAnim{

    0% {background-color: rgb(56, 95, 255);
        top: 0;
        left: 0; 
        width: 200px;
        height: 200px;
    }
    25%{background-color: orange; 
        top: 0; 
        left: 400px; 
        width: 200px; 
        height: 200px;
    }
    50%{background-color: yellow; 
        top: 400px; 
        left: 400px; 
        width: 200px; 
        height: 200px;
    }
    75%{background-color: greenyellow; 
        top: 400px; 
        left: 0; 
        width: 200px; 
        height: 200px;
    }
    100%{background-color: lightblue; 
        top: 0; 
        left: 0; 
        width: 200px; 
        height: 200px;
    }
}


/* animation: name / duration / delay / iteration-count direction / fill-mode / play-state */
#test{
position: relative;
animation: komplAnim 5s ease-in-out 2s 5 alternate-reverse both running;

    /* position: relative;
    animation: komplAnim;
    animation-duration: 8s;
    animation-delay: 1s; */
    /* animation-iteration-count: 4;
    animation-direction: alternate; */
    /* animation-play-state: running;
    animation-timing-function: linear; */

}