/* === GENERELLES === */

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}





/* === GRID-SYSTEM (Sichtbarkeit) === */

/* .border, .border * {
    border: 1px solid #91c4ff;
}

[class*='col-'] {
    background-color: #bfddff;
}

p {
    background-color: #91c4ff;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
} */

/* === GRID-SYSTEM === */

/* .container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*='col-'] {
    float: left;
    min-height: 1px;
    padding: .8rem;
  }
  
  .col-1 { width: 16.666%; }
  .col-2 { width: 33.333%; }
  .col-3 { width: 50%;     }
  .col-4 { width: 66.666%; }
  .col-6 { width: 100%;    }
  
  @media (max-width: 1024px) {
  
    .col-1 { width: 33.333%; }
  
  }
  
  @media (max-width: 768px) {
  
    .col-1 { width: 50%;  }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
    .col-4 { width: 100%; }
  
  }
  
  @media (max-width: 480px) {
  
    .col-1 { width: 100%; }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
    .col-4 { width: 100%; }
  
  } */
  
  

    p{
      margin: 0;
    }

  /* === Flex-Box === */

  /* Flex-container */
  .flex-container{
    display: flex;
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #a5cfff ;
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* flex-flow: row wrap; */

            /* rechts links oder center ausrichtung */
    /* justify-content: space-around; */


            /* verticale anordnung der itmes */
    /* align-items: center; */
  
            /* Umbruch bei genug Stauckung */
   /* flex-wrap: wrap; */
            /* vertikale Verteilung */
   /* align-content: space-around; */
  }


            /* Flex-Items */
  .flex-container * {
    /* margin: .8rem; */
    background-color: rgb(129, 182, 255);
    /* flex-basis: 300px; */
  }

  .flex-container > p:nth-of-type(1){
    /* flex-grow: 4; */
    /* flex-grow: 4; */
    /* flex: 4 4 300px; */
    /* order: 4; */
          /* align-self greift aud align-items: von kontainer zurück. 
          Ist dort nichts eingetragen übernimmt align den default von 
          align-items: der stretch ist.; */
    align-self: auto;
  }
    
  .flex-container > p:nth-of-type(2){
      /* flex-grow: 1; */
      /* flex-shrink: 1; */
      /* flex: 1 1 300px; */
      /* order: 1; */
      align-self: baseline;
  }
      
  .flex-container > p:nth-of-type(3){
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex: 1 1 300px; */
    /* order: 6; */
    align-self: center;
  }

  .flex-container > p:nth-of-type(4){
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex: 1 1 300px; */
    /* order: 2; */
    align-self: flex-end;
  }

  .flex-container > p:nth-of-type(5){
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex: 1 1 300px; */
    /* order: 3; */
    align-self: flex-start;
  }

  .flex-container > p:nth-of-type(6){
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex: 1 1 300px; */
    /* order: 5; */
    align-self: stretch;
  }